<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>大屏</title>
        <!-- 此项目基于vue,axios,echarts,element-ui与vue-router -->
        <script src="./js/vue.js"></script>
        <script src="./js/axios.min.js"></script>
        <script src="./js/echarts.min.js"></script>
        <script src="./js/vue-router.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <link rel="stylesheet" href="./css/index.css">
        <script src="./js/element-ui.js"></script>
    </head>
    <body>
        <div id='app'>
            <div>
                <el-tabs v-model="activeName" type="card">
                    <el-tab-pane name="first"><router-link to='/' slot="label" @click.native='refresh'>主页</router-link></el-tab-pane>
                    <el-tab-pane name="second"><router-link to='/beijing' slot="label" @click.native='initareadetail(areadetail.beijing,["bj-box-1","bj-box-2"])'>北京</router-link></el-tab-pane>
                    <el-tab-pane name="third"><router-link to='/shanghai' slot="label" @click.native='initareadetail(areadetail.shanghai,["sh-box-1","sh-box-2"])'>上海</router-link></el-tab-pane>
                    <el-tab-pane name="fourth"><router-link to='/shenzhen' slot="label" @click.native='initareadetail(areadetail.shenzhen,["sz-box-1","sz-box-2"])'>深圳</router-link></el-tab-pane>
                    <el-tab-pane name="fifth"><router-link to='/hangzhou' slot="label" @click.native='initareadetail(areadetail.hangzhou,["hz-box-1","hz-box-2"])'>杭州</router-link></el-tab-pane>
                </el-tabs>   
            </div>
            <router-view></router-view>
            
            <div v-if='show' id='main-charts'>
                <div id='box-1' style="width:700px; height:325px"></div>
                <div id='box-2' style="width:700px; height:325px"></div>
                <div id='box-3' style="width:700px; height:325px;"></div>
                <div id='box-4' style="width:700px; height:325px;"></div>
            </div>
            
        </div>
        <script>
            var work_list = ['后端工程师','前端工程师','Java工程师','算法工程师','数据分析师','测试工程师'];
            var company_list = ['华为','腾讯','阿里巴巴','百度'];
            var area_list = ['北京','上海','深圳','杭州'];
            // 定义图表构造函数
            function create_chart(name){
                this.chart = {};
                this.list = [];
                this.name = name; 
            }
            // 定义各地区对象，template为各地区的模板
            var beijing = {
                template:`
                <div>
                    <div id='bj-box-1' style="width:700px; height:325px"></div>
                    <div id='bj-box-2' style="width:700px; height:325px"></div> 
                </div>`
            };
            var shanghai = {
                template:`
                <div>
                    <div id='sh-box-1' style="width:700px; height:325px"></div>
                    <div id='sh-box-2' style="width:700px; height:325px"></div> 
                </div>`
            };
            var shenzhen = {
                template:`
                <div>
                    <div id='sz-box-1' style="width:700px; height:325px"></div>
                    <div id='sz-box-2' style="width:700px; height:325px"></div> 
                </div>`
            };
            var hangzhou = {
                template:`
                <div>
                    <div id='hz-box-1' style="width:700px; height:325px"></div>
                    <div id='hz-box-2' style="width:700px; height:325px"></div> 
                </div>`
            };
            // 设置路由规则
            var router = new VueRouter({
                routes:[
                    {path: '/beijing',component: beijing},
                    {path: '/shanghai',component: shanghai},
                    {path: '/shenzhen',component: shenzhen},
                    {path: '/hangzhou',component: hangzhou}
                ]
            })
            // 创建Vue实例
            var app = new Vue({
                el:'#app',
                data:{
                   show:true,
                   activeName:'first',
                   loading:true,
                   areadetail:{
                    detail_list:[],
                    // 定义vue中的各地区图表对象
                    beijing:{
                        workchart: new create_chart(work_list),
                        paychart: new create_chart(work_list)
                    },
                    shanghai:{
                        workchart: new create_chart(work_list),
                        paychart: new create_chart(work_list)
                    },
                    shenzhen:{
                        workchart: new create_chart(work_list),
                        paychart: new create_chart(work_list)
                    },
                    hangzhou:{
                        workchart: new create_chart(work_list),
                        paychart: new create_chart(work_list)
                    }
                   },
                   // 定义图表对象
                   workchart: new create_chart(work_list),
                   paychart: new create_chart(work_list),
                   companychart: new create_chart(company_list),
                   areachart: new create_chart(area_list)
                },
                methods:{
                    // 封装echarts的初始化图表功能
                    setchart:function(chart,id,option){
                        chart = echarts.init(document.getElementById(id));
                        chart.setOption(option);
                    },
                    // 处理公司数据
                    formatdata:function(j){
                        var list = []
                        for(var i=0;i<4;i++){
                            list.push(this.companychart.list[i][j])
                        }
                        return list
                    },
                    // 处理各地区数据
                    insertdata:function(area,list){
                        for(var i=0;i<6;i++){
                            area.workchart.list.push(list[i][0]);
                            area.paychart.list.push(list[i][1]);
                        }
                    },
                    // 封装饼状图
                    create_workchart:function(obj){
                        var option =  {
                                    tooltip: {
                                        trigger: 'item'
                                    },
                                    legend: {
                                        orient: 'vertical',
                                        left: 'left',
                                    },
                                    series: [
                                        {
                                            name: '岗位数量',
                                            type: 'pie',
                                            radius: ['40%', '70%'],
                                            avoidLabelOverlap: false,
                                            label: {
                                                show: false,
                                                position: 'center'
                                            },
                                            emphasis: {
                                                label: {
                                                    show: false,
                                                }
                                            },
                                            labelLine: {
                                                show: false
                                            },
                                            data: [
                                                {value: obj.list[0], name: obj.name[0]},
                                                {value: obj.list[1], name: obj.name[1]},
                                                {value: obj.list[2], name: obj.name[2]},
                                                {value: obj.list[3], name: obj.name[3]},
                                                {value: obj.list[4], name: obj.name[4]},
                                                {value: obj.list[5], name: obj.name[5]}
                                            ]
                                        }
                                    ]
                        };
                        return option;
                    },
                    // 封装柱状图
                    create_paychart:function(obj){
                        var option = {
                            xAxis: {
                                type: 'category',
                                data: obj.name
                            },
                            yAxis: {
                                type: 'value'
                            },
                            tooltip:{
                                trigger:'axis'
                            },
                            series: [{
                                data: obj.list,
                                type: 'bar'
                            }]
                        };
                        return option;
                    },
                    // 封装堆叠条形图
                    create_companychart:function(obj){
                        var option = {
                                tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {            
                                        type: 'shadow'        
                                    }
                                },
                                legend: {
                                    data: work_list
                                },
                                grid: {
                                    left: '3%',
                                    right: '4%',
                                    bottom: '3%',
                                    containLabel: true
                                },
                                xAxis: {
                                    type: 'value'
                                },
                                yAxis: {
                                    type: 'category',
                                    data: obj.name
                                },
                                series: [
                                    {
                                        name: '后端工程师',
                                        type: 'bar',
                                        stack: 'total',
                                        label: {
                                            show: true
                                        },
                                        emphasis: {
                                            focus: 'series'
                                        },
                                        data: this.formatdata(0)
                                    },
                                    {
                                        name: '前端工程师',
                                        type: 'bar',
                                        stack: 'total',
                                        label: {
                                            show: true
                                        },
                                        emphasis: {
                                            focus: 'series'
                                        },
                                        data: this.formatdata(1)
                                    },
                                    {
                                        name: 'Java工程师',
                                        type: 'bar',
                                        stack: 'total',
                                        label: {
                                            show: true
                                        },
                                        emphasis: {
                                            focus: 'series'
                                        },
                                        data: this.formatdata(2)
                                    },
                                    {
                                        name: '算法工程师',
                                        type: 'bar',
                                        stack: 'total',
                                        label: {
                                            show: true
                                        },
                                        emphasis: {
                                            focus: 'series'
                                        },
                                        data: this.formatdata(3)
                                    },
                                    {
                                        name: '数据分析师',
                                        type: 'bar',
                                        stack: 'total',
                                        label: {
                                            show: true
                                        },
                                        emphasis: {
                                            focus: 'series'
                                        },
                                        data: this.formatdata(4)
                                    },
                                    {
                                        name: '测试工程师',
                                        type: 'bar',
                                        stack: 'total',
                                        label: {
                                            show: true
                                        },
                                        emphasis: {
                                            focus: 'series'
                                        },
                                        data: this.formatdata(5)
                                    }
                                    
                                ]
                        };
                        return option;
                    },
                    // 封装已排序的条形图
                    create_areachart:function(obj){
                        var option = {
                                dataset: [{
                                    dimensions: ['city','num'],
                                    source: [
                                        [obj.name[0],obj.list[0]],
                                        [obj.name[1],obj.list[1]],
                                        [obj.name[2],obj.list[2]],
                                        [obj.name[3],obj.list[3]]
                                    ]
                                }, {
                                    transform: {
                                        type: 'sort',
                                        config: { dimension: 'num', order: 'desc' }
                                    }
                                }],
                                xAxis: {
                                    type: 'category',
                                },
                                yAxis: {},
                                tooltip:{
                                    trigger:'axis'
                                },
                                series: {
                                    type: 'bar',
                                    encode: { x: 'city', y: 'num' },
                                    datasetIndex: 1
                                }
                        };
                        return option;
                    },
                    // 初始化地区数据图表
                    initareadetail:function(area,boxlist){
                        this.show = false;
                        var workoption = this.create_workchart(area.workchart);
                        var payoption = this.create_paychart(area.paychart);
                        setTimeout(() => {
                            this.setchart(area.workchart.chart,boxlist[0],workoption);
                            this.setchart(area.paychart.chart,boxlist[1],payoption);
                        })
                    },
                    // 初始化主页图表 
                    initecharts:function(){
                        var work_pay_option = this.create_paychart(this.paychart);
                        var work_num_option = this.create_workchart(this.workchart);
                        var company_option = this.create_companychart(this.companychart);
                        var area_option = this.create_areachart(this.areachart);
                        this.setchart(this.areachart.chart,'box-4',area_option);
                        this.setchart(this.companychart.chart,'box-3',company_option);    
                        this.setchart(this.paychart.chart,'box-2',work_pay_option);
                        this.setchart(this.workchart.chart,'box-1',work_num_option);
                    },
                    // 从服务端获取数据
                    getdata:function(){
                        var that = this;
                        axios.post('http://127.0.0.1:5000/getdata')
                        .then(function(response){
                            console.log(response);
                            for(var i=0;i<6;i++){
                                that.workchart.list.push(response.data.work_num[i]);
                                that.paychart.list.push(response.data.work_pay[i]);
                                if(i<4){
                                    that.companychart.list.push(response.data.company_data[i]);
                                }
                                if(i<4){
                                    that.areachart.list.push(response.data.area_data[i]);
                                }
                            }
                            for(var j=0;j<4;j++){
                                that.areadetail.detail_list.push(response.data.area_detail[j]);
                            }
                            that.insertdata(that.areadetail.beijing,response.data.area_detail[0]);
                            that.insertdata(that.areadetail.shanghai,response.data.area_detail[1]);
                            that.insertdata(that.areadetail.shenzhen,response.data.area_detail[2]);
                            that.insertdata(that.areadetail.hangzhou,response.data.area_detail[3]);
                            
                        },function(err){
                            console.log(err);
                        })
                    },
                    // 刷新页面
                    refresh:function(){
                        window.location.reload();
                    },
                },
                // vue钩子函数，在实例挂载后执行，从服务端获取数据并异步初始化主页图表
                mounted:function(){
                    this.getdata();
                    var loading = this.$loading({
                            lock:true,
                            text:'Loading...',
                            spinner: 'el-icon-loading',
                            background: 'rgba(0, 0, 0, 0.6)',
                        });
                    setTimeout(() => {
                        this.initecharts();
                        loading.close();
                    },1000);
                },
                router
            })
        </script>
    </body>
</html>